<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * *  Root of Project  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="block bg-black min-h-screen">
  <div class="col-span-6 border-2 border-red-500 row-span-1" id="nav">
    <app-header/>
  </div>
  <div class="text-white text-2xl" id="sidebar">
    <div>
      <h1>Sidebar Content!</h1>
    </div>
  </div>
  <section class="text-white" id="content">
    <div class="border-2 border-red-500">
      <h1 class="text-3xl font-bold underline">
        Content 2
      </h1>
    </div>
    <div class="border-2 border-red-500">
      <h1 class="text-3xl font-bold underline">
        Content 2
      </h1>
    </div>
    <div class="border-2 border-red-500">
      <h1 class="text-3xl font-bold underline">
        Content 2
      </h1>
    </div>
    <div class="border-2 border-red-500">
      <h1 class="text-3xl font-bold underline">
        Content 2
      </h1>
    </div>
  </section>
  <footer class="text-blue-400">
    <h1>footer!</h1>
  </footer>
</main>

<router-outlet />
